body {
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  position: relative;
}
h1 {
  margin: 0;
}
a {
  color: #00B7FF;
}

.center {
  align-items: center;
}

.col {
  flex-direction: column;
}
.flex {
  display: flex;
}
.group {
  width: 25%;
  margin-block: .5rem;
}

li a {
  display: none;
}

li a[show] {
  display: block;
}

dialog {
  display: block;
  box-shadow: 3px 3px 0 black;
  /* padding: 16px; */
  position: absolute;
  
  transition: transform .5s;
  transform: translate(0, -50%) scale(0);
  border: 1px solid black 
}

dialog[open] {
  transform: translate(0) scale(1) ;
}

.message > button {
  width: fit-content; 
  background-color: white ;
  border-color: black;
 
}

.msg-text {
  height: min(10vh, 20ch);
  width: 50ch;
}

.controls {
  display: flex;
  justify-content: space-between;
}


.button, button {
  box-shadow: 2px 3px black;
  border-radius: 5px;
  cursor: pointer;
  border-style: outset;
  border: none;
  border: 1px solid white;
  font-weight: bold;
  box-sizing: border-box;
  padding: 16px;
  text-transform: uppercase;
  justify-content: center;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  width:100px;
  height: 30px;
  color: white;
  background: blue;
  
}

button:active, .button:active {
  box-shadow: 1px 1.5px black;
  transform: translateY(2px);
}

.bold {
  font-weight: bold;
}

#message-form {
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 1rem;
  display: flex;
  
}
#message-form > * {
  height: 35px;
  box-sizing: border-box;
  box-shadow: none;
}
#message {
  flex: 1;
}