body {
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

a {
  color: #00B7FF;
}

.center {
  align-items: center;
}

.col {
  flex-direction: column;
}
.flex {
  display: flex;
}
.group {
  width: 25%;
  margin-block: .5rem;
}

button {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
}

body {
  position: relative;
}

li a {
  display: none;
}

li a[show] {
  display: block;
}

.dialog {
  box-shadow: 3px 3px 0 black;
  padding: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black 
}

.msg-text {
  height: 20ch;
  width: 50ch;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.button, button {
  box-shadow: 2px 3px black;
  border-radius: 5px;
  cursor: pointer;
  border-style: outset;
  border: none;
  border: 1px solid white;
  font-weight: bold;
  box-sizing: border-box;
  padding: 16px;
  text-transform: uppercase;
  justify-content: center;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  width:100px;
  height: 30px;
  color: white;
  background: blue;
  
}

button:active, .button:active {
  box-shadow: 1px 1.5px black;
  transform: translateY(2px);
}

.bold {
  font-weight: bold;
}